@use '../../styles/mixins' as*;
@use '../../styles/variables' as*;



.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position:relative;
    top:-10rem;
    z-index: 0;
    @include tablet{
        flex-direction: row;
    }
    &__left-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top:-6rem;
        @include tablet {
            margin-top:9rem;
            align-items: normal;
        }
        @include desktop {
            margin-top:4rem;
        }
    }
    &__right-section{
        display: flex;
        position:absolute;
        
        z-index: -1;
        @include tablet {
            right: -2.5rem;
        }
        @include desktop {
            position: relative;
            right:10rem;
        }
    }
    &__br {
        display: none;
        @include tablet {
            display: block;
        }
        @include desktop {
            display:none;
        }
    }
    &__title{
        font-size: 2.5rem;
        font-family: 700;
        letter-spacing: -1.136px;
        line-height: 40px;
        width: 21.4375rem;
        margin-top:0;
        margin-bottom:1.5rem;
        text-align: center;
        @include tablet {
            @include font($size: 4.5rem, $spacing:-2.045px, $line: 4.5rem);
            width: 44.3125rem;
            text-align: left;
            margin-bottom:2.6875rem;
        }
        @include desktop {
            font-size: 5.5rem;
            font-family: 700;
            letter-spacing: -2.5px;
            line-height: 88px;
            width: 44.3125rem;
            margin-top:0;
            margin-bottom:2.6875rem;
        }
    }

    &__rings{
        position: absolute;
        top:0rem;
        left:-21.5625rem;
        z-index: -1;
        @include tablet {
            top:8.3125rem;
            left:-16.5625rem;
            z-index: 0;
        }
    }

    &__description{
        font-size: 1rem;
        font-weight:500;
        line-height: 26px;
        width: 21.4375rem;
        margin-bottom:2rem;
        text-align: center;
        @include tablet {
            @include font($size:1.125rem, $weight:500, $line:28px);
            width: 27.8125rem;
            text-align: left;
            margin-bottom:2.5rem;
        }   
        @include desktop{
            font-size: 1.125rem;
            font-weight:500;
            line-height: 28px;
            width: 27.8125rem;
            margin-bottom:2.5rem;
        }
    }

    &__cta{
        width:8.75rem;
        height:3rem;
    }
    &__circle{
        height:8.0625rem;
        width:8.0625rem;
        align-self: flex-end;
        position: relative;
        bottom:5rem;
        left:4rem;
        @include tablet {
            bottom:0rem;
            left:24.5rem;
        }
        @include desktop {
            bottom:5rem;
            left:4rem;
        }
    }
    &__profile-mobile {
        width:10.875rem;
        position:relative;
        top:-8rem;
    }
    &__circle-mobile {
        width: 8.0625rem;
        height: 8.0625rem;
        position: absolute;
        right: -5rem;
        top: 7.75rem;
    }
    &__upper-section {
        display: flex;
    }
    &__profile{
        width: 27.8125rem;
        height: 45rem;
        @include tablet {
            width: 21.125rem;
            height: 37.5rem;
        }
        @include desktop {
            width: 27.8125rem;
            height: 45rem;
        }
    }
}

.btn{
    text-transform: uppercase;
    font-weight: 700;
    font-size:1rem;
    letter-spacing: 2.286px;
    color: $primary-text;
    border:none;
    background: $primary-background;
    border-bottom:2px solid $accent-color;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    &:hover{
        color: $accent-color;
    }
}