@use '../../styles/mixins' as*;
@use '../../styles/variables' as*;



.projects{
    display: flex;
    flex-direction: column;
    &__upper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5rem;
    }
    &__cta {
        height: 2.375rem;
    }
    &__title{
        font-size: 5.5rem;
        font-weight: 700;
        margin:0;
        @include tablet{
            font-size: 4.5rem;
        }
        @include desktop {
            font-size: 5.5rem;
        }
    }
    &__cards-section{
        display: flex;
        flex-wrap: wrap;
        column-gap: 1.5rem;
        @include tablet {
            column-gap: 1.1rem;
        }
        @include desktop {
            column-gap: 1.5rem;
        }
    }
    

}


.card{
    &__image{
        width:33.75rem;
        height:25rem;
        padding-bottom:1.25rem;
        cursor: pointer;
        position: relative;
        top:-8rem;
        &--hover {
            filter: brightness(0.25);
        }
        @include tablet {
            width:21.5625rem;
            height:15.8125rem;
        }
        @include desktop {
            width:33.75rem;
            height:25rem;
        }
    }
    &__image-div{
        width:33.75rem;
        height:25rem;
        @include tablet {
            width:21.5625rem;
            height:15.8125rem;
        }
        @include desktop {
            width:33.75rem;
            height:25rem;
        }
    }
    &__buttons-visible{
        display: flex;
        flex-direction: column;
        position:relative;
        align-items: center;
        top:8rem;
        z-index: 1;
        @include tablet {
            display: none;
        }
        @include desktop {
            display: flex;
        }
    }
    &__buttons-invisible {
        visibility: hidden;
        @include tablet {
            visibility: visible;
        }
        @include desktop{
            visibility: hidden;
        }

    }
    &__cta-code{
        width: 8rem;
        height:2rem;
        background: none;
    }
    &__cta-project{
        width: 10.75rem;
        height:2rem;
        margin-bottom: 3rem;
        background: none;
        @include tablet {
            margin-bottom: 2.5rem;
        }
        @include desktop {

        }
    }
    &__title{
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 700;
        margin:0;
        padding-bottom:0.4375rem;
    }
    &__technologies{
        display: flex;
        column-gap: 1.125rem;    
    }
    &__tech{
        text-transform: uppercase;
        font-size: 1.125rem;
        font-weight: 500;
        margin:0;
        padding-bottom:4.3125rem;
    }
    
}